body{
    border: lightslategrey;
}

.intro{
    background-color: lightpink;
    display: flex;
 justify-content: space-between;
 
    flex-shrink:  7;
}
* {
    border: dashed;
}
.pizza{
    background-color: lightpink;
}
.paneer{
    background-color:lightsalmon
}
.dosa{
    background-color: lightskyblue;
}
.burritos{
background-color: lightskyblue;
}